#gauge g.arc {
  fill: steelblue;
}

#gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}

.no-pointer-events {
  pointer-events: none;
}

.card-width {
  width: 18rem;
}

#Light {
  height: 160px;
}
